@media (min-width: 320px) {
    header{
        background-image: url(../images/headerimage.jpg);
        background-position: center;
        background-size: cover;
        color: white;
        max-width: 100% auto;
        width:100% auto;
        padding-bottom: 0.3rem;
    }

    .motto{
        font-style: italic;
    }
}

@media(min-width:320px){
    #carousel {
        width:290px;
        margin:auto;
        margin-top:0;
    }

    .carousel-inner img {
        height:278px;
        width:185px;
        margin-left:52.5px;
        margin-bottom: 2rem;
    }

    .form-group{
        padding-top:0.3rem;
        width:290px;
    }
}

@media(min-width:768px){
    #carousel {
        width:604.8px;
    }

    .carousel-inner img {
        margin-left:209.9px;
    }
}

@media(min-width:1024px){
    #carousel {
        width:930px;
    }

    .carousel-inner img {
        margin-left:372.5px;
    }
}

.carousel-control-prev{
    background-color:lightgrey;
    height:278px;
}

.carousel-control-next{
    background-color:lightgrey;
    height:278px;
}
